/* ==========================================================================
   #PAGE-FOOTER
   ========================================================================== */

.c-page-footer {
    background-image: url('../img/footer.jpg');
    background-size: cover;
    padding-top: 21.63%;
    position: relative;
}

    .c-page-footer__inner {
        bottom: 0;
        color: $color-brand-primary;
        font-size: 70%;
        line-height: 1.1;
        padding-bottom: $unit / 5;
        position: absolute;
        width: 100%;

        > p {
            margin-bottom: 0;
        }
    }
