/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    color: $color-brand-light;
    font-size: 150%;
}

    .c-hero__img,
    .c-hero__content {
        position: absolute;
    }

    .c-hero__img {
        bottom: 0;
        height: 90%;

        > img {
            max-height: 100%;
        }
    }

    .c-hero__content {
        font-size: 1.9vw;
        right: 0;
        top: 0;
    }

        .c-hero__title {
            font-size: 350%;
            font-style: italic;
            margin-bottom: 0;
        }

        .c-hero__subtitle {
            font-size: 210%;
            font-style: italic;
            letter-spacing: .05em;
            line-height: .6;
            margin-bottom: $unit / 2;
        }

        .c-hero__lead {
            color: $color-brand-secondary;
            font-size: 110%;
            letter-spacing: .05em;
        }

        .c-hero__welcome {
            font-size: 80%;

            > * {
                margin-bottom: $unit / 2;
            }
        }

        .c-hero__player {
            box-shadow: 0 20px 40px rgba($color-brand-dark, .4);
            margin: 0 $unit * 2;
        }
