/* ==========================================================================
   INUITCSS
   ========================================================================== */

/**
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */



////
// SETTINGS
////
@import 'settings.config';
@import '../node_modules/inuitcss/settings/settings.core';
@import 'settings.global';
@import 'settings.colors';

// Reassign `$inuit-global-spacing-unit` to `$unit`.
$unit: $inuit-global-spacing-unit;




////
// TOOLS
////
@import '../node_modules/inuitcss/tools/tools.rem';
@import '../node_modules/inuitcss/tools/tools.font-size';
@import '../node_modules/inuitcss/tools/tools.clearfix';
@import '../node_modules/inuitcss/tools/tools.hidden';
@import '../node_modules/sass-mq/mq';

// Reassign lengthy font-size mixin to `font-size()`.
@mixin font-size($args...) {
  @include inuit-font-size($args...);
}




////
// GENERIC
////
@import '../node_modules/inuitcss/generic/generic.box-sizing';
@import '../node_modules/inuitcss/generic/generic.normalize';
@import '../node_modules/inuitcss/generic/generic.reset';
@import '../node_modules/inuitcss/generic/generic.shared';




////
// ELEMENTS
////
@import '../node_modules/inuitcss/elements/elements.page';
@import '../node_modules/inuitcss/elements/elements.headings';
@import '../node_modules/inuitcss/elements/elements.images';
@import '../node_modules/inuitcss/elements/elements.tables';

html {
    background-color: $color-brand-dark;
    font-family: 'Cardo', serif;
}

h1,
h2,
h3 {
    font-family: 'IM Fell English', serif;
}

hr {
    border-color: $color-brand-secondary;
    border-top: 0;
}



////
// OBJECTS
////
$inuit-wrapper-width: 920px;
@import '../node_modules/inuitcss/objects/objects.wrapper';
@import '../node_modules/inuitcss/objects/objects.layout';
@import '../node_modules/inuitcss/objects/objects.media';
@import '../node_modules/inuitcss/objects/objects.flag';
@import '../node_modules/inuitcss/objects/objects.list-bare';
@import '../node_modules/inuitcss/objects/objects.list-inline';
@import '../node_modules/inuitcss/objects/objects.box';
@import '../node_modules/inuitcss/objects/objects.block';
@import '../node_modules/inuitcss/objects/objects.ratio';
@import '../node_modules/inuitcss/objects/objects.crop';
@import '../node_modules/inuitcss/objects/objects.tables';
@import '../node_modules/inuitcss/objects/objects.pack';




////
// COMPONENTS
////
// Build and include your project’s UI Compoments here.
@import 'components.section';
@import 'components.hero';
@import 'components.buttons';
@import 'components.card';
@import 'components.page-wrapper';
@import 'components.page-footer';
@import 'components.countdown';
@import 'components.newsletter';
@import 'components.a';




////
// PLUGINS
////
// @import 'animate';


////
// UTILITIES
////
@import '../node_modules/inuitcss/utilities/utilities.clearfix';

$inuit-offsets: true;
@import '../node_modules/inuitcss/utilities/utilities.widths';
@import '../node_modules/inuitcss/utilities/utilities.headings';
@import '../node_modules/inuitcss/utilities/utilities.spacing';
@import '../node_modules/inuitcss/utilities/utilities.print';
@import '../node_modules/inuitcss/utilities/utilities.hide';
@import 'utilities.orientation';
@import 'utilities.owl';
